<h3>Select Rock, Paper or Scissors</h3>
<form action="/rps/answer" class="form-inline">
  <label>Select Option: </label>
  <select class="user_choice form-control" name="user_choice">
    <option>Rock</option>
    <option>Paper</option>
    <option>Scissors</option>
  </select>
  <button class="btn btn-primary">Answer</button>
</form>
