<h1>New Dog</h1>

<form action="/dogs" method="post">

  Name: <input type="text" name="name"><br>
  Breed: <input type="text" name="breed"><br>
  Age: <input type="text" name="age"><br>
  Derp: <input type="text" name="derp_level"><br>
  Enthusiasm: <input type="text" name="enthusiasm"><br>

  <button>Create Dog</button>
</form>
