<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dogs</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>DOGS ARE LOVE, DOGS ARE LIFE</h1>

    <img src="http://66.media.tumblr.com/24da2a99212e929f9d3df243f97429ac/tumblr_mrc1mch8iz1qafxn0o6_1280.jpg" alt="teacup pom" />
    <br>

    <a href="/dogs">All Dogs</a>
    |
    <a href="/dogs/new">New Dog</a>
    <br><br>

    <%= yield %>
  </div>
</body>
</html>
