<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wonderful Library of Books and their Authors</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
      <a href="/books">All Books</a>
      |
      <a href="/books/new">New Books</a>
      |
      <a href="/authors">All Authors</a>
      |
      <a href="/authors/new">New Authors</a>
    </nav>
  <div class="container">

    <%= yield %>
  </div>
</body>
</html>
