<h3>Guess between 0 - 10</h3>
<% unless params[:guess].nil? %>
  <p class="wrong-guess"><%= params[:guess] %> is not the correct guess. Try Again</p>
<% end %>

<form action="/secret/answer" class="form-inline">
  <label for="secret_num">Enter a number: </label>
  <input type="text" name="secret_number" placeholder="5" id="secret_num" class="form-control" maxlength="2" width="5">
  <button class="btn btn-primary">Answer</button>
</form>
