@import 'https://fonts.googleapis.com/css?family=Ropa+Sans';

ul {
  list-style-type: none;
  padding:0;
  margin:0;
  width: 65px;
  text-decoration: none;
  color: rgb(0, 0, 109);
  display: inline;

}

li {
  display: inline-block;
}

a{
  text-decoration: none;
}

/*
li a{
  display: block;
  width: 200px;
  text-align: center;

  Hover state for top level links
li:hover a {
	background: #19c589;
}
}

nav {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
*/
body {
  background-color: rgb(211,211,211);
  /*background-color: rgb(182,229,236);  */
  font-family: 'Ropa Sans', sans-serif;
  text-underline: none;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;

}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.2em;
}

a {
  /*float: left;*/
}

p {
/*  float: right;*/
  font-size: 1.8em;
  width: 960px;
  text-align: center;
}

/* Trivia page ********************************************************** */

.cartoon {
  border-radius: 5em;  /*Use when border installed*/
  display: block;
  /*float: left;
  text-align: right;  */
}
/*
.cartoon img {
  float:right;
}*/

#real {
  color: red;
}

ol li {
  font-size: 1.8em;
  display: block;
  text-align: center;
}

}

.trivia {
  text-align: center;
  width: 600px;
  padding: 20px;
}

/*
.anecdote1 {
  position:absolute;
  top: 1300px;
  left: 420px;
  height: 300px;
  width: 150px;
  background-color: rgb(182, 229,336);
  font-size: 90%;
  font-

}*/


/* End of Trivia page. *************************************************** */
