<h1>Select Rock, Paper or Scissors</h1>
<p>
<form action="/rock/result">
<select name="choice">
<option value="1">Rock</option>
<option value="2">Paper</option>
<option value="3">Scissors</option>
</select>
<p></p>
<button>Wishing You Luck!</button>
</form>
</p>
