<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">

    <h1>Movies</h1>

    <nav>
      <a href="/">home</a>
    </nav>
    <div class="yield">
      <%= yield %>
    </div>
  </div>

</body>
</html>
