
* {
  margin:0;
  padding:0;
}
body, html {
  overflow: hidden;
}

body {
  font: 100% / 1.5 Arial;
}

.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  font-size: 200%;
}

.parallax_container {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer-fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

.parallax_layer-base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax_layer-back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro_title {
  color: #fff;
  position: relative;
  left: 700px;
  top: 140px;
  font-size: 400%;
  line-height: 90px;
  font-family: 'Cormorant SC', serif;
}

#page1 {
  z-index: 4; /* slide over page 2 */
}
#page1 .parallax_layer-base {
  /*background: rgb(102,204,102);*/
  background: url(../images/mcluhan2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#page2 {
  z-index: 2; /* under 1 and 3 */
}

#page2 .parallax_layer-back {
  background: rgb(123,210,102);
}

#page3 {
  z-index: 3; /* slide over page 2 and 4 */
}

#page3 .parallax_layer-base {
  background: rgb(153,216,101);
}

#page4 {
  z-index: 1; /* slide under page 3 and 5 */
  background: rgb(184,223,101);
}
