html {
  box-sizing: border-box;
  margin: 0;
  background-color: #F7F7F7;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

nav {
  background-color: #000;
  height: 80px;
  margin: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

ul {
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;
}
li {
  font-size: 18px;
  list-style-type: none;

}
li + li {
  padding-left: 15px;
}
li a {
  color: #fff;
  font-family: arial, sans-serif;;
}
a {
  text-decoration: none;
}
header {
  background-color: #E5E5E5;
  height: 500px;
}
.header-items {
  width: 90vw;
  margin: 0 auto;
}
img.banner {
  margin-bottom: 0;
  margin-top: -5px;
  position: relative;
  top: 50px;
  width: 90vw;
}
.container {
  width: 90vw;
  margin: 0 auto;

}
.blurb {
  margin-top: 100px;
  border-top: #E5E5E5 solid 1px;
  border-left: #E5E5E5 solid 1px;
  border-right: #fff solid 1px;
  border-bottom: #fff solid 1px;
  position: relative;

}
.blurb img {
  position: absolute;
  left: 65vw;
  top: 10px;

}
