<h1>Magic 8 Ball</h1>
<form action="/magic/results">
  <label for="magic_eight">What would you like to know:</label>
  <input type="search" name="magic" id="magic_eight" placeholder="Ask a question: " autofocus required>
  <button>SHOW ME</button>
</form>
