<h3>Get Answers</h3>
<form action="/magic/answer" class="form-inline">
  <label for="qn">Type a Question: </label>
  <input type="text" name="question" placeholder="Will I get married?" id="qn" class="form-control">
  <button class="btn btn-primary">Answer</button>
</form>
