
<h1>See your future in the Eight Ball</h1>
<p>
<form action="/eightball/result">

  <input type="search" name="result" placeholder="enter your question here" autofocus>
  <button>See your future</button>
</form>
</p>
