<h1>Scissors Paper Rock</h1>
<form action="/spr/results">
  <label for="spr_sign">Enter your choice:</label>
  <input type="search" name="spr" id="spr_sign" placeholder="Scissors, Paper, Rock" autofocus required>
  <button>ENTER</button>
</form>
