* {
  /*border: 1px solid green;*/
  padding: 0px;
  margin: 0px;
  font-family: "Arial", serif;
  color: lightgray;
}

body {
  width:100%;
  background: url(../images/bg_body.jpg);
}



.container {
  width: 960px;
  margin: 0 auto;

}

.mainBar {
  background-color: black;
  ;
  color: lightgray;
}

.mainBar a {
  height: 35px;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  background-color: black;
  padding: 20px;
  text-align: left;
  line-height: 35px;
}

.mainBar a:hover {
  background:url(../images/bg_nav_rollover.png)
}

.logo {
  display: inline-block;
  position: absolute;
}

.logo img{
  display: inline-block;
}

.photobanner {
  position: relative;
  text-align: center;
  margin-bottom: -4px;
}

.thumbnails {
  text-align: left;
  display: inline-block;
  border: 6px solid lightgray;
  padding: 2px;
}


#socialMedia {
  float: right;
  z-index: 1;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}
