<div class="new-edit">
  <h1>Add New Book</h1>
  <form action="/books" method="post">
    <label>Title</label>
    <input type="text" name="title" class="form-control">
    <label>Genre</label>
    <input type="text" name="genre" class="form-control">
    <label>Published</label>
    <input type="text" name="year_published" class="form-control">

    <label>Select Author</label>
    <select class="form-control" name="author_id">
      <option></option>
      <% Author.all.each do |author| %>
        <option value="<%=author.id%>">
          <%= author.name %>
      </option>
      <% end %>

    </select>

    <label>Synopsis</label>
    <textarea name="Synopsis" class="form-control"></textarea>
    <label>Image</label>
    <input type="text" name="image" class="form-control">

    <button class="btn btn-primary">Add book</button>
  </form>
</div>
