<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/css/bootstrap.min.css" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/books">All Books</a>
        |
        <a href="/books/new">New Book</a>
        |
        <a href="/authors">All Authors</a>
        |
        <a href="/authors/new">New Author</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
