<h1>Magic Eightball</h1>
<p>Let us tell your future</p>

<div class="form-group">
<form action="/pages/eightanswer">
  <input type="search" name="eightball_question" class="form-control" placeholder="Enter a question" required>
  <br>
  <button class="btn btn-info">Get the future</button>
</form>
</div>
