<h2>Hello and welcome to the secret world of games</h2>
<br>

<p class="wrap">Would you like to know your future, play a game of rock paper scissors or try to beat an automated computer?</p>
<h4 class="bg-danger">Choose your fate below.</h4>
<br>

<a href="/pages/eightball">
  <button type="button" class="btn btn-info">Magic Eightball</button>
</a>

<a href="/pages/rock">
<button type="button" class="btn btn-info">Rock, Paper, Scissors</button>
</a>

<a href="/pages/secret">
<button type="button" class="btn btn-info">Secret Number</button>
</a>
