<h1>Rock, Paper, Scissors</h1>

<p>Please select rock, paper or scissors</p>
<div class="form-group">
<form action="/pages/rockthrow">
  <input type="search" name="throw" class="form-control" placeholder="rock, paper or scissors" required>
  <br>
  <button class="btn btn-info">Throw!</button>
</form>
</div>
