<h1>Secret Number</h1>

<p>Please pick a number between 1 and 10:</p>
<div class="form-group">
<form action="/pages/secretanswer">
  <input type="search" name="secret_answer" class="form-control" placeholder="Enter a number" required>
  <br>
  <button class="btn btn-info">Go!</button>
</form>
</div>
