<div class="wrapper">
  <h1>Movie time</h1>
  <p>Please enter a movie you would like to find out about.</p>
  <br>
<form action="/movieanswer" class="form-inline">
  <div class="form-group">
    <input type="search"  name="movie" class="form-control" placeholder="Ex: Frozen" required>
    <button type="submit" class="btn btn-danger">find the movie!</button>
  </div>
</form>
</div>
