<h1>Lucky Number Game</h1>
<form action="/lucky/results">
  <label for="lucky_number">Enter a Number between 1 and 10:</label>
  <input type="search" name="lucky" id="lucky_number" placeholder="Enter a Number" autofocus required>
  <button>GUESS</button>
</form>
