<h3>About</h3>
<p>
  If you're ever like, "I just want to see a low-res movie poster right now!" You've come to the right place. Just search in the home screen, and enjoy some movie stuff on your screen. 
</p>
