<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies I</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <h1>Movie posters n' stuff</h1>
    <h7>Wanna look at posters n' shit?</h7>
    <br>

    <%= yield %>

  </div>
</body>
</html>
