<h1>Add New Mountain</h1>
<form action="/mountains" method="post" class="form-inline">
  <p>
    <label for="name">Name</label>
    <input type="text" name="mountain[name]" id="name" placeholder="K2" class="form-control">
  </p>

  <p>
    <label for="image">Image</label>
    <input type="url" name="mountain[image]" id="image" placeholder="http://fillmurray.com/500/500" class="form-control">
  </p>

  <p>
    <label for="height">Height</label>
    <input type="number" name="mountain[height]" id="height" placeholder="2000" class="form-control">
  </p>

  <p>
    <label for="country">Country</label>
    <input type="text" name="mountain[country]" id="country" placeholder="Tanzania" class="form-control">
  </p>

  <p>
    <label for="mountain_type">Type</label>
    <input type="text" name="mountain[mountain_type]" id="mountain_type" placeholder="volcanic" class="form-control">
  </p>

  <p>
    <label for="facts">Facts</label>
    <textarea name="mountain[facts]" id="facts" placeholder="This is the highest Peak in Africa" rows="8" cols="40" class="form-control"></textarea>
  </p>

  <button class="btn btn-primary">Add Mountain</button>


</form>
