<form action="/stars" method="post">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Constellation:</label>
  <input type="text" name="constellation">
  <label>Distance from Earth:</label>
  <input type="text" name="distance">
  <label>Spectral Class:</label>
  <input type="text" name="type">
  <label>Image:</label>
  <input type="url" name="image">
  <label>Description:</label>
  <textarea rows="10" name="description"></textarea>

  <button>Create Star</button>
</form>
